@model JobPortalWeb.Data.CVSkill

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>CVSkill</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Skilles)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Skilles)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Profile.FullName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Profile.FullName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
