@model JobPortal.Admin.Models.DashboardModel
@{
    ViewBag.Title = "Dashboard";
}
<style>
    .container-fluid {
        width: 100%;
        overflow: hidden;
    }

    .card {
        width: 100%;
        overflow: hidden;
    }

    tr.table-active.table-border-double {
        color: white;
    }
</style>
<div class="row">
    <div class="col-lg-4">

        <!-- Members online -->
        <div class="card bg-teal text-white">
            <div class="card-body">
                <div class="d-flex">
                    <h3 class="font-weight-semibold mb-0">@Model.JobsCount</h3>
                    <span class="badge badge-dark badge-pill align-self-center ml-auto">New</span>
                </div>

                <div>
                    Posted Jobs
                    <div class="font-size-sm opacity-75"></div>
                </div>
            </div>

            <div class="container-fluid">
                <div id="members-online"><svg width="227.9875030517578" height="50"><g width="227.9875030517578"><rect class="d3-random-bars" width="6.5675412401740925" x="2.8146605315031823" height="42.10526315789473" y="7.894736842105267" style="fill: rgba(255, 255, 255, 0.5);"></rect><rect class="d3-random-bars" width="6.5675412401740925" x="12.196862303180458" height="36.84210526315789" y="13.15789473684211" style="fill: rgba(255, 255, 255, 0.5);"></rect><rect class="d3-random-bars" width="6.5675412401740925" x="21.579064074857733" height="39.473684210526315" y="10.526315789473685" style="fill: rgba(255, 255, 255, 0.5);"></rect><rect class="d3-random-bars" width="6.5675412401740925" x="30.96126584653501" height="28.947368421052634" y="21.052631578947366" style="fill: rgba(255, 255, 255, 0.5);"></rect><rect class="d3-random-bars" width="6.5675412401740925" x="40.34346761821228" height="50" y="0" style="fill: rgba(255, 255, 255, 0.5);"></rect><rect class="d3-random-bars" width="6.5675412401740925" x="49.72566938988955" height="28.947368421052634" y="21.052631578947366" style="fill: rgba(255, 255, 255, 0.5);"></rect><rect class="d3-random-bars" width="6.5675412401740925" x="59.107871161566834" height="47.368421052631575" y="2.631578947368425" style="fill: rgba(255, 255, 255, 0.5);"></rect><rect class="d3-random-bars" width="6.5675412401740925" x="68.49007293324411" height="44.73684210526316" y="5.2631578947368425" style="fill: rgba(255, 255, 255, 0.5);"></rect><rect class="d3-random-bars" width="6.5675412401740925" x="77.87227470492138" height="42.10526315789473" y="7.894736842105267" style="fill: rgba(255, 255, 255, 0.5);"></rect><rect class="d3-random-bars" width="6.5675412401740925" x="87.25447647659865" height="44.73684210526316" y="5.2631578947368425" style="fill: rgba(255, 255, 255, 0.5);"></rect><rect class="d3-random-bars" width="6.5675412401740925" x="96.63667824827593" height="26.31578947368421" y="23.68421052631579" style="fill: rgba(255, 255, 255, 0.5);"></rect><rect class="d3-random-bars" width="6.5675412401740925" x="106.0188800199532" height="28.947368421052634" y="21.052631578947366" style="fill: rgba(255, 255, 255, 0.5);"></rect><rect class="d3-random-bars" width="6.5675412401740925" x="115.40108179163049" height="31.57894736842105" y="18.42105263157895" style="fill: rgba(255, 255, 255, 0.5);"></rect><rect class="d3-random-bars" width="6.5675412401740925" x="124.78328356330776" height="42.10526315789473" y="7.894736842105267" style="fill: rgba(255, 255, 255, 0.5);"></rect><rect class="d3-random-bars" width="6.5675412401740925" x="134.16548533498505" height="34.21052631578947" y="15.789473684210527" style="fill: rgba(255, 255, 255, 0.5);"></rect><rect class="d3-random-bars" width="6.5675412401740925" x="143.54768710666232" height="34.21052631578947" y="15.789473684210527" style="fill: rgba(255, 255, 255, 0.5);"></rect><rect class="d3-random-bars" width="6.5675412401740925" x="152.9298888783396" height="50" y="0" style="fill: rgba(255, 255, 255, 0.5);"></rect><rect class="d3-random-bars" width="6.5675412401740925" x="162.31209065001687" height="26.31578947368421" y="23.68421052631579" style="fill: rgba(255, 255, 255, 0.5);"></rect><rect class="d3-random-bars" width="6.5675412401740925" x="171.69429242169414" height="28.947368421052634" y="21.052631578947366" style="fill: rgba(255, 255, 255, 0.5);"></rect><rect class="d3-random-bars" width="6.5675412401740925" x="181.07649419337142" height="50" y="0" style="fill: rgba(255, 255, 255, 0.5);"></rect><rect class="d3-random-bars" width="6.5675412401740925" x="190.4586959650487" height="26.31578947368421" y="23.68421052631579" style="fill: rgba(255, 255, 255, 0.5);"></rect><rect class="d3-random-bars" width="6.5675412401740925" x="199.84089773672596" height="42.10526315789473" y="7.894736842105267" style="fill: rgba(255, 255, 255, 0.5);"></rect><rect class="d3-random-bars" width="6.5675412401740925" x="209.22309950840324" height="47.368421052631575" y="2.631578947368425" style="fill: rgba(255, 255, 255, 0.5);"></rect><rect class="d3-random-bars" width="6.5675412401740925" x="218.6053012800805" height="31.57894736842105" y="18.42105263157895" style="fill: rgba(255, 255, 255, 0.5);"></rect></g></svg></div>
            </div>
        </div>
        <!-- /members online -->

    </div>


    <div class="col-lg-4">

        <!-- Current server load -->
        <div class="card bg-pink text-white">
            <div class="card-body">
                <div class="d-flex">
                    <h3 class="font-weight-semibold mb-0">@Model.AppliedToJobsCount</h3>

                </div>

                <div>
                    Job Applications
                    <div class="font-size-sm opacity-75">   </div>
                </div>
            </div>

            <div id="server-load"><svg width="247.9875030517578" height="50"><g transform="translate(0,0)" width="247.9875030517578"><defs><clipPath id="load-clip-server-load"><rect class="load-clip" width="247.9875030517578" height="50"></rect></clipPath></defs><g clip-path="url(#load-clip-server-load)"><path d="M-9.53798088660607,7.666666666666666L-7.948317405505057,10.11111111111111C-6.358653924404046,12.555555555555554,-3.179326962202023,17.444444444444443,0,16.111111111111107C3.179326962202023,14.777777777777777,6.358653924404046,7.222222222222222,9.53798088660607,7.888888888888889C12.717307848808092,8.555555555555555,15.896634811010115,17.444444444444443,19.07596177321214,23.444444444444443C22.25528873541416,29.444444444444443,25.434615697616184,32.55555555555555,28.613942659818207,33.44444444444444C31.793269622020233,34.33333333333333,34.97259658422225,33,38.15192354642428,27.88888888888889C41.3312505086263,22.777777777777782,44.51057747082832,13.88888888888889,47.68990443303035,10.333333333333332C50.869231395232376,6.777777777777777,54.048558357434395,8.555555555555554,57.227885319636414,10.555555555555554C60.40721228183844,12.555555555555554,63.58653924404045,14.777777777777775,66.76586620624248,14.111111111111109C69.9451931684445,13.444444444444443,73.12452013064653,9.888888888888888,76.30384709284854,8.555555555555554C79.48317405505057,7.222222222222221,82.6625010172526,8.11111111111111,85.84182797945462,11.88888888888889C89.02115494165665,15.666666666666666,92.20048190385867,22.333333333333332,95.3798088660607,21.444444444444443C98.55913582826273,20.555555555555554,101.73846279046474,12.111111111111107,104.91778975266676,10.999999999999996C108.09711671486878,9.888888888888886,111.2764436770708,16.111111111111107,114.45577063927283,17.22222222222222C117.63509760147485,18.333333333333332,120.81442456367688,14.333333333333332,123.99375152587889,14.999999999999996C127.1730784880809,15.666666666666664,130.35240545028293,20.999999999999996,133.53173241248496,19.666666666666664C136.71105937468698,18.333333333333332,139.890386336889,10.333333333333332,143.06971329909103,5.888888888888889C146.24904026129306,1.444444444444445,149.4283672234951,0.5555555555555565,152.6076941856971,1.444444444444445C155.78702114789914,2.333333333333334,158.96634811010117,5,162.1456750723032,8.11111111111111C165.3250020345052,11.222222222222221,168.50432899670722,14.777777777777779,171.68365595890924,14.333333333333334C174.86298292111127,13.88888888888889,178.0423098833133,9.444444444444445,181.22163684551532,6.333333333333334C184.40096380771735,3.2222222222222223,187.58029076991937,1.444444444444445,190.7596177321214,5.88888888888889C193.93894469432342,10.333333333333336,197.11827165652545,21.000000000000004,200.29759861872748,24.555555555555557C203.4769255809295,28.111111111111114,206.6562525431315,24.555555555555557,209.83557950533353,24.77777777777778C213.01490646753552,25,216.19423342973755,29,219.3735603919396,27.444444444444443C222.5528873541416,25.88888888888889,225.73221431634363,18.777777777777775,228.91154127854568,18.777777777777775C232.09086824074768,18.777777777777775,235.2701952029497,25.88888888888889,238.44952216515173,24.555555555555554C241.62884912735376,23.22222222222222,244.8081760895558,13.444444444444441,247.9875030517578,10.777777777777775C251.1668300139598,8.111111111111107,254.34615697616184,12.555555555555554,257.52548393836383,17.666666666666664C260.70481090056586,22.77777777777778,263.8841378627679,28.555555555555557,265.4738013438689,31.444444444444443L267.0634648249699,34.333333333333336L267.0634648249699,50L265.4738013438689,49.999999999999986C263.8841378627679,49.99999999999999,260.70481090056586,49.99999999999999,257.52548393836383,49.999999999999986C254.34615697616184,49.99999999999999,251.1668300139598,49.99999999999999,247.98750305175778,49.999999999999986C244.8081760895558,49.99999999999999,241.62884912735376,49.99999999999999,238.44952216515176,49.999999999999986C235.2701952029497,49.99999999999999,232.09086824074768,49.99999999999999,228.91154127854568,49.999999999999986C225.73221431634363,49.99999999999999,222.5528873541416,49.99999999999999,219.3735603919396,49.999999999999986C216.19423342973755,49.99999999999999,213.01490646753552,49.99999999999999,209.83557950533353,49.999999999999986C206.6562525431315,49.99999999999999,203.4769255809295,49.99999999999999,200.29759861872748,49.999999999999986C197.11827165652545,49.99999999999999,193.93894469432342,49.99999999999999,190.7596177321214,49.999999999999986C187.58029076991937,49.99999999999999,184.40096380771735,49.99999999999999,181.22163684551532,49.999999999999986C178.0423098833133,49.99999999999999,174.86298292111127,49.99999999999999,171.68365595890924,49.999999999999986C168.50432899670722,49.99999999999999,165.3250020345052,49.99999999999999,162.1456750723032,49.999999999999986C158.96634811010117,49.99999999999999,155.78702114789914,49.99999999999999,152.6076941856971,49.999999999999986C149.4283672234951,49.99999999999999,146.24904026129306,49.99999999999999,143.06971329909103,49.999999999999986C139.890386336889,49.99999999999999,136.71105937468698,49.99999999999999,133.53173241248496,49.999999999999986C130.35240545028293,49.99999999999999,127.1730784880809,49.99999999999999,123.99375152587889,49.999999999999986C120.81442456367688,49.99999999999999,117.63509760147485,49.99999999999999,114.45577063927284,49.999999999999986C111.2764436770708,49.99999999999999,108.09711671486878,49.99999999999999,104.91778975266676,49.999999999999986C101.73846279046474,49.99999999999999,98.55913582826273,49.99999999999999,95.3798088660607,49.999999999999986C92.20048190385867,49.99999999999999,89.02115494165665,49.99999999999999,85.84182797945462,49.999999999999986C82.6625010172526,49.99999999999999,79.48317405505057,49.99999999999999,76.30384709284856,49.999999999999986C73.12452013064653,49.99999999999999,69.9451931684445,49.99999999999999,66.76586620624248,49.999999999999986C63.58653924404045,49.99999999999999,60.40721228183844,49.99999999999999,57.227885319636414,49.999999999999986C54.048558357434395,49.99999999999999,50.869231395232376,49.99999999999999,47.68990443303035,49.999999999999986C44.51057747082832,49.99999999999999,41.3312505086263,49.99999999999999,38.15192354642428,49.999999999999986C34.97259658422225,49.99999999999999,31.793269622020233,49.99999999999999,28.613942659818207,49.999999999999986C25.434615697616184,49.99999999999999,22.25528873541416,49.99999999999999,19.07596177321214,49.999999999999986C15.896634811010115,49.99999999999999,12.717307848808092,49.99999999999999,9.53798088660607,49.999999999999986C6.358653924404046,49.99999999999999,3.179326962202023,49.99999999999999,0,49.999999999999986C-3.179326962202023,49.99999999999999,-6.358653924404046,49.99999999999999,-7.948317405505057,49.999999999999986L-9.53798088660607,50Z" class="d3-area" style="fill: rgba(255, 255, 255, 0.5); opacity: 1;" transform="translate(-9.537981033325195,0)"></path></g></g></svg></div>
        </div>
        <!-- /current server load -->

    </div>

    <div class="col-lg-4">

        <!-- Today's revenue -->
        <div class="card bg-primary text-white">
            <div class="card-body">
                <div class="d-flex">
                    <h3 class="font-weight-semibold mb-0">@Model.NumberOfUsers</h3>

                </div>

                <div>
                    Registered Users
                    <div class="font-size-sm opacity-75"></div>
                </div>
            </div>

            <div id="today-revenue"><svg width="247.9875030517578" height="50"><g transform="translate(0,0)" width="247.9875030517578"><defs><clipPath id="clip-line-small"><rect class="clip" width="247.9875030517578" height="50"></rect></clipPath></defs><path d="M20,8.46153846153846L54.66458384195964,25.76923076923077L89.32916768391928,5L123.9937515258789,15.384615384615383L158.65833536783853,5L193.3229192097982,36.15384615384615L227.9875030517578,8.46153846153846" clip-path="url(#clip-line-small)" class="d3-line d3-line-medium" style="stroke: rgb(255, 255, 255);"></path><g><line class="d3-line-guides" x1="20" y1="50" x2="20" y2="8.46153846153846" style="stroke: rgba(255, 255, 255, 0.3); stroke-dasharray: 4, 2; shape-rendering: crispedges;"></line><line class="d3-line-guides" x1="54.66458384195964" y1="50" x2="54.66458384195964" y2="25.76923076923077" style="stroke: rgba(255, 255, 255, 0.3); stroke-dasharray: 4, 2; shape-rendering: crispedges;"></line><line class="d3-line-guides" x1="89.32916768391928" y1="50" x2="89.32916768391928" y2="5" style="stroke: rgba(255, 255, 255, 0.3); stroke-dasharray: 4, 2; shape-rendering: crispedges;"></line><line class="d3-line-guides" x1="123.9937515258789" y1="50" x2="123.9937515258789" y2="15.384615384615383" style="stroke: rgba(255, 255, 255, 0.3); stroke-dasharray: 4, 2; shape-rendering: crispedges;"></line><line class="d3-line-guides" x1="158.65833536783853" y1="50" x2="158.65833536783853" y2="5" style="stroke: rgba(255, 255, 255, 0.3); stroke-dasharray: 4, 2; shape-rendering: crispedges;"></line><line class="d3-line-guides" x1="193.3229192097982" y1="50" x2="193.3229192097982" y2="36.15384615384615" style="stroke: rgba(255, 255, 255, 0.3); stroke-dasharray: 4, 2; shape-rendering: crispedges;"></line><line class="d3-line-guides" x1="227.9875030517578" y1="50" x2="227.9875030517578" y2="8.46153846153846" style="stroke: rgba(255, 255, 255, 0.3); stroke-dasharray: 4, 2; shape-rendering: crispedges;"></line></g><g><circle class="d3-line-circle d3-line-circle-medium" cx="20" cy="8.46153846153846" r="3" style="stroke: rgb(255, 255, 255); fill: rgb(255, 255, 255); opacity: 1;"></circle><circle class="d3-line-circle d3-line-circle-medium" cx="54.66458384195964" cy="25.76923076923077" r="3" style="stroke: rgb(255, 255, 255); fill: rgb(255, 255, 255); opacity: 1;"></circle><circle class="d3-line-circle d3-line-circle-medium" cx="89.32916768391928" cy="5" r="3" style="stroke: rgb(255, 255, 255); fill: rgb(255, 255, 255); opacity: 1;"></circle><circle class="d3-line-circle d3-line-circle-medium" cx="123.9937515258789" cy="15.384615384615383" r="3" style="stroke: rgb(255, 255, 255); fill: rgb(255, 255, 255); opacity: 1;"></circle><circle class="d3-line-circle d3-line-circle-medium" cx="158.65833536783853" cy="5" r="3" style="stroke: rgb(255, 255, 255); fill: rgb(255, 255, 255); opacity: 1;"></circle><circle class="d3-line-circle d3-line-circle-medium" cx="193.3229192097982" cy="36.15384615384615" r="3" style="stroke: rgb(255, 255, 255); fill: rgb(255, 255, 255); opacity: 1;"></circle><circle class="d3-line-circle d3-line-circle-medium" cx="227.9875030517578" cy="8.46153846153846" r="3" style="stroke: rgb(255, 255, 255); fill: rgb(255, 255, 255); opacity: 1;"></circle></g></g></svg></div>
        </div>
        <!-- /today's revenue -->

    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="table-responsive">
            <table class="table text-nowrap">
                <thead>
                    <tr class="table-active table-border-double">
                        <td colspan="2">Latest Created Jobs</td>
                        <td class="text-right">
                            <span class="badge badge-primary badge-pill">@Model.JobsCount</span>
                        </td>
                    </tr>
                    <tr>
                        <th style="width: 25%">Jobt title</th>
                        <th style="width: 50%">Description</th>
                        <th style="width: 25%; text-align: right">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.JobsList)
                    {
                        <tr>
                            <td style="width: 25% "> 
                                <div class="font-size-sm line-height-1">@item.JobTitle</div>
                            </td>
                            <td style="width:50%">
                            
                                <div style="width: 80%; overflow: hidden; white-space: nowrap; text-overflow: ellipsis;"> @item.JobDescription</div>   
                                   
                            </td>
                            <td style="width: 25%; text-align: right">
                                <a href="~/JobsDefinitions/edit?id=@item.Id">
                                    <i class="icon-pencil"></i>
                                </a>
                            </td>
                        </tr>
                    }



                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="table-responsive">
            <table class="table text-nowrap">
                <thead>
                    <tr class="table-active table-border-double">
                        <td colspan="3">Latest Applied to Jobs</td>
                        <td class="text-right">
                            <span class="badge badge-primary badge-pill">@Model.AppliedToJobsCount</span>
                        </td>
                    </tr>
                    <tr>
                        <th style="width: 30%">User Id</th>
                        <th style="width: 30%">Jobt title</th>
                        <th style="width: 25%">Apply Date</th>
                        <th style="width: 15% ;text-align:right"  >Actions</th>

                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.JobApplications)
                    {
                    <tr>
                        <td style="width: 30%">

                            @item.UserName
                        </td>
                        <td style="width: 30%">
                            @item.JobTitle
                        </td>
                        <td style="width: 25%">
                            @item.ApplyDate
                        </td>
                       
                        <td style="width: 15%; text-align: right">
                            <a href="~/ScheduledInterviews/create?id=@item.JobAppliactionId">
                                <i class="icon-pencil"></i>
                            </a>
                        </td>
                    </tr>
                    }



                </tbody>
            </table>
        </div>
    </div>
</div>
