@model JobPortalWeb.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
}


<section id="loginForm">
    @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "login-form", role = "form" }))
    {
        @Html.AntiForgeryToken()
        <img src="~/Content/images/jobportallogo.png" class="login-logo" />

        <img class="login-logo" src="src/imgs/logo.png" alt="" />
        <h2>Create a new account.</h2>
        <div class="login-form-subcontainer">
            @Html.ValidationSummary("", new { @class = "text-danger" })
            <div class="login-input">
                @Html.LabelFor(m => m.Email, new { @class = "control-label" })

                @Html.TextBoxFor(m => m.Email, new { @class = "generic-control" })
                <i class="fas fa-at"></i>


            </div>
            <div class="login-input">
                @Html.LabelFor(m => m.Password, new { @class = "control-label" }) 
                @Html.PasswordFor(m => m.Password, new { @class = "generic-control" })
                <i class="fas fa-key"></i>

            </div>
            <div class="login-input">
                @Html.LabelFor(m => m.ConfirmPassword, new { @class = "control-label" }) 
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "generic-control" })
                <i class="fas fa-key"></i>

            </div>

            <input type="submit" class="login-btn" value="Register" />

        </div>
    }
</section>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
